.img {
    width: 80%;
    height: 82%;
    margin-top: 32px;
    margin-bottom: 40px;
    margin-left: 10px;
    object-fit: cover;
    resize: both;
    border: 2px solid #dbc895;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .img {
        width: 90%;
        height: 94%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }
  }