.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    resize: both;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }

.imgdetails{
    width: 80%;
    height: 60%;
    object-fit: cover;
    resize: both;
  }

.img:hover {
    width: 96%;
    height: 96%;
}

/* @media (max-width: 600px) {
    .img {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .img:hover {
        width: 96%;
        height: 96%;
    }
  } */