.imgSlider {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: black;
  }
  
  .imgSlider img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    resize: both;
    filter: blur(3px);
  }
  