@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */


.container {
  position: relative;
  display: flex;
  justify-content: 'center';
  align-items: center;
}
.container .box {
    position: relative;
    width: 14rem;
    height: 10rem;
    margin-left: 12px;
}


.imgBox {
  position: absolute;
  top: 0;
  left: 0;
}

.imgBox img {
    width: 14rem;
    height: 10rem;
  object-fit: cover;
  resize: both;
  border-radius: 10px;

}

@media (max-width: 1024px) {
  .container .box {
    width: 9.2rem;
    height: 7rem;
}

  .imgBox img {
    width: 9.2rem;
    height: 7rem;
  }
}  

@media (max-width: 600px) {
  .container {
    width:18rem;
    
  }

  .container .box {
    width: 17rem;
    height: 12rem;
}

  .imgBox img {
    width:17rem;
    height: 12rem;
  }
}  




