@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */


.container {
  position: relative;
  display: flex;
  justify-content: 'center';
  align-items: center;
  
}
.container .box {
    position: relative;
    width: 100%;
    height: 30rem;
}


.imgBox {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.imgBox img {
    width: 100%;
    height: 30rem;
  object-fit: cover;
  resize: both;
  border-radius: 10px;

}


@media (max-width: 1024px) {
    .container .box {
      height: 22rem;
  }
  
    .imgBox img {
      height: 22rem;
    }
}  

@media (max-width: 600px) {
    .container .box {
      height: 16rem;
  }
  
    .imgBox img {
      height: 16rem;
    }
}  
