@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */


.container {
  position: relative;
  display: flex;
  justify-content: 'center';
  align-items: center;
  flex-wrap: wrap;
}
.container .box {
    position: relative;
    width: 7rem;
    height: 7rem;

}



.imgBox {
  position: absolute;
  top: 0;
  left: 0;
}

.imgBox img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  resize: both;
  border-radius: 100px;
  border: 2px solid #dbc895;
}

@media (max-width: 600px) {
  .container .box {
    width: 6rem;
    height: 6rem;
}

  .imgBox img {
    width: 6rem;
    height: 6rem;
  }
}